@import '../../node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
    margin-top: 110px;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    background-color:rgb(240, 240, 253);
}

.search-form-input {
    width: 500px;
    height: 40px;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(183, 183, 252);
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.img-search {
    margin-right: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 100px;
}

.photo-card {
    width: calc(100% / 4 - 10px * 3);
    margin: 10px;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 3px;
    overflow: hidden;
}

.photo-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: rgb(105, 96, 116);
}

.is-hidden {
    display: none;
}